/*
FIXED-NAV
http://getbootstrap.com/examples/navbar-fixed-top/navbar-fixed-top.css
view-source:http://getbootstrap.com/examples/navbar-fixed-top/
*/

body {
  /* min-height: 2000px; - conflicts with sticky footer */
  padding-top: 70px;
  font-size: 18px;
}

/*
CENTERED-NAV
http://stackoverflow.com/questions/18777235/center-content-in-responsive-bootstrap-navbar
*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}


/*
3rd LEVEL MENU
http://stackoverflow.com/questions/18023493/bootstrap-3-dropdown-sub-menu-missing
*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}


/*
change color of hamburger lines bootstrap
http://www.experts-exchange.com/questions/28454177/Bootstrap-Hamburger-Icon-color.html
*/
.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}

/*
Get ROBOTO FONT, use everywhere
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900,400italic,900italic);
body {
  font-family: "Roboto", sans-serif;
}

/* start awesome underline here
http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
.sidebar2 a {
  position: relative;
  text-decoration: none;
  color: white;
}

.sidebar2 a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sidebar2 a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.sidebar1 a {
  position: relative;
  text-decoration: none;
}

.sidebar1 a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.sidebar1 a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* end awesome underline here */

/*
<nav> navbar-primary background color
*/
#navbar-primary.navbar-default {
  border: none;
}

/*
font to white 18px on the navbar top-level items
*/
.navbar-default .navbar-nav > li > a {
	color: white;
  font-size: 18px;
}
/*
<li class="active"> to (RED DARKER #d62c1a) and white letters
*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
}
/*
a:hover/focus on navbar items, make it light pink (RED LIGHTEST #f6bbb5) and white
*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background: transparent;
}

/*
main nav top-level dropdown to (RED DARKER #d62c1a) and white letters
*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
}
/*
increase padding between top level nav elements
*/
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
}

/*
Add a subtle shadow under the navbar
https://answers.squarespace.com/questions/49554/how-do-i-apply-shadow-effect-underneath-my-navbar.html
*/
nav#navbar-primary {
    box-shadow: 0px 0px 10px 7px rgba(255,255,255, .10);
    -moz-box-shadow: 0px 0px 10px 7px rgba(255,255,255, .10);
    -webkit-box-shadow: 0px 0px 10px 7px rgba(255,255,255, .10);
}


/*
center-block on the logo-image to override default bootstrap behavior elegantly
http://stackoverflow.com/questions/10088706/twitter-bootstrap-how-to-center-elements-horizontally-or-vertically/34560589#34560589
*/

/*
footer, basic definitions
*/
footer {
  background: #fdfcfd cover;
  font-size: 14px;
  color: #333;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 768px) {
    .footer .nav {
        display: inline-block;
        float: none;
        vertical-align: top;
        text-align: center;
    }
}

/*
make the footer sticky

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height
  margin-bottom: 160px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here
  height: 160px;
  background-color: #f5f5f5;
}
*/
/*
Center navigation in footer, also make it responsive on xxsmall screens
http://stackoverflow.com/questions/26618821/bootstrap-navbar-centered-in-footer
http://plnkr.co/edit/dmH6ySgEO5XnwXBbE7gt?p=preview
http://jsfiddle.net/tj4qsrhw/
*/

.container.footernav {
  margin: 0 auto;
  float:none !important;
}


/*
stretch the slider full width, add its borders, and background
*/
.slider-full {
  margin: 0 auto;
  padding-top: 0px;
  background: #eee;
  max-height: 350px;
  overflow: hidden;
}

.no-slider {
  background-image: url("../img/004.jpg");
  height: 80px;
  width: 100%;
}

/*
LEFT SIDEBAR
*/
/*
sidebar colors
*/


/*
sidebar dimensions
*/
.sidebar1 h1,
.sidebar1 h2,
.sidebar1 h3,
.sidebar1 h4,
.sidebar1 h5,
.sidebar1 h6 {
    font-size: 22px;
    padding: 0 0 6px 0;
    margin: 0;
}

/*
RIGHT SIDEBAR
*/
.sidebar2 {
  border: 0;
  margin-bottom: 20px;
  color: white;
  padding: 10px 26px 26px 36px;
}

.sidebar2 h1,
.sidebar2 h2,
.sidebar2 h3,
.sidebar2 h4,
.sidebar2 h5,
.sidebar2 h6 {
  font-size: 22px;
}

/*
CENTER COLUMN
*/
.center-column {
  padding-left:40px;
}

.center-column p {
  text-align: justify;
  margin:28px 0;
}
.center-column h1 {
  font-weight: 700;
  font-size: 26px;
  /*font-style: oblique;*/
  padding-bottom:2px;
  margin-bottom:4px;
  margin: 0;
}
.center-column h2.subtitle {
  font-size: 18px;
  padding: 0px 20px 10px 20px;
  margin-left: 20px;
  font-style: oblique;
  /*background: #e74c3c;*/
  /*color: white;*/
  line-height:20px;
}

/*
SIDEBAR MENU STYLES
http://www.bootply.com/Wa6eNctyrN#
note: works like a charm!
*/
.list-group.panel > .list-group-item {
  border-radius: 0;
  border: 1px solid white;
}
.list-group-submenu {
  margin-left:20px;
}
.strong { font-weight: 400; }

#MainMenu .top-level-nav {
  color: white;
}

#MainMenu .sub-level-nav {
  background: #eee;
}

#MainMenu .list-group-item {
  border-radius: 0;
}
/*
remove default Bootstrap styles for panels, only on #MainMenu
*/
#MainMenu .list-group.panel {
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*
without this, the subnav's gray border looks like it's off
*/
a.list-group-item.strong.sub-level-nav {
  width:99%;
  margin-left: 0.5%;
}


/*
helper classes
*/
.pad50t50b {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pad25t25b {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pad50 {
	padding-top: 50px;
}
.pad25 {
  padding-top: 25px;
}
/*
helper for sidebar1
*/
.right-edge {
  border-right: 1px solid #cccccc;
  /*text-align: justify;*/
  padding-right: 40px;
}
/*
helper for sidebar2
*/
.left-edge {
  border-left: 1px solid #cccccc;
  /*text-align: justify;*/
  padding-left: 40px;
}
/*
BACK TO TOP BUTTON
http://bootsnipp.com/snippets/featured/link-to-top-page

alternatively: https://www.youtube.com/watch?v=ldwAlz0mku8
// How To Make Back To Top Button (Bootstrap 3) The Easiest Way!
*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: 6px;
    display:none;
    z-index:2;
    border: none;
    border-radius: 0;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 16px;
        right: 0px;
        opacity: 0.5;
    }
}




/*
footer
STARTING POINT:
http://bootsnipp.com/snippets/featured/blog-footer


.cuadro_intro_hover{
        padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  .cuadro_intro_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
  }
  .cuadro_intro_hover img{
    z-index: 4;
  }
  .cuadro_intro_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .cuadro_intro_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .cuadro_intro_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
  }

  */


/* ===== Begin footer ===== */
.footer-top {
  padding: 60px 0 35px;
  text-align: left;
}

.footer-top h1,
.footer-top h2,
.footer-top h3,
.footer-top h4,
.footer-top h5,
.footer-top h6 {
  color: #333;
}
.footer-top .col-md-4 {
  margin-bottom: 25px;
}
.footer {
  padding: 30px 0;
}
.footer a{
  text-decoration: none;
}

/*Widget1: Useful Links*/
ul.imp-links {
  margin-top: 15px;
  padding-left: 10px;
  list-style: none;
  text-align: left;
}
ul.imp-links li {
  padding: 5px 0;
  text-align: left;
}
ul.imp-links li a {
  text-decoration: none;
  color: #333;
}
ul.imp-links li a:hover {
  text-decoration: none;
  color: #111;
}


/*Widget2: subscribe form*/
#subscribe #result {
    display: block;
    width: 100% !important;
}
#footer_signup {
    margin: 20px 0;
}
#subscribe > input[type="text"] {
    border: 0 none;
    font-style: italic;
    font-size: 0.9em;
    padding: 7px 10px;
    width: 60%;
    height: 30px;
}
#subscribe > button[type="submit"] {
    border: 0 none;
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    padding: 5px 10px;
    height: 30px;
    transition: all 0.4s ease-in;
}


/*
How come I can't remove the blue textarea border in Twitter Bootstrap?
http://stackoverflow.com/questions/8622686/how-come-i-cant-remove-the-blue-textarea-border-in-twitter-bootstrap
*/
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
Change Bootstrap input focus blue glow
http://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow
note: interesting effect!
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(126, 126, 126, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 126, 126, 0.6);
  outline: 0 none;
}
*/

/*
Why don't buttons and inputs align well in bootstrap? I tried something simple like:
http://stackoverflow.com/questions/10615872/bootstrap-align-input-with-button

A: As shown in the answer by @abimelex, inputs and buttons can be aligned by using the .input-group classes
*/



/*Widget3: twitter*/
.single-tweet {
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
    word-spacing: 2px;
}

.tweet-content {
    padding-bottom: 10px;
    line-height: 1.5em;
}

.text-off-white { color: #333;}

.text-white {
  color: #fff;
}


/* ===== End footer ===== */


.footer-top {
    background-color: #eeeeee;
}

.footer-top {
    padding: 40px 0 35px;
}

.footer-bottom {
    background-color: #333;
}

.footer-bottom {
    padding: 30px 0 16px;
}



/* ***************
block news
**************** */


.block-news h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-style: italic;
}

.block-news h3 {
  font-size: 20px;
  font-style: oblique;
  font-weight: 500;
}

.block-news p {
  color: #222;
}

.block-news {
    margin: 0 16px;
    padding: 16px 26px 8px 0;
}

.block-news img {
  padding:0;
}

.row.block-news.bg.lightgray.no-padding {
  padding-top: 0;
}
.row.block-news.bg.lightgray.no-padding img {
  padding: 0;
}

.col-sm-12 .row.block-news.bg.lightgray.no-padding {
  padding: 0;
}

.col-sm-12 .row.block-news.bg.lightgray.no-padding img {
  border: 0;
  padding: 0;
  margin: 0;
}

.block-news .btn-red {
  color: #eb685a;
  border: 1px solid #eb685a;
  border-radius: 0;
  background: transparent;
  text-transform: lowercase;
  font-size: 16px;
  padding: 10px 16px;
  margin: 6px 0;
}

.block-news .btn-red:hover {
  color: white;
  border-radius: 0;
  text-transform: lowercase;
  font-size: 16px;
  padding: 10px 16px;
  margin: 6px 0;
}

.col-md-6 .block-news h2, .col-md-4 .block-news h2 {
  padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .block-news h2, .block-news h3, .block-news p {
    text-align: left;
  }
  .block-news h2 {
    padding-top: 20px;
  }
  .block-news {
    text-align: center;
  }
}

.bg.lightgray {
  background: #f5f5f5;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.sidepad0 {
  padding-left:0;
  padding-right:0;
}



/* ***************
block blog
**************** */



h1 {
  font-size: 30px;
}

.blog1 {
  max-height: 250px;
  overflow: hidden;
}


/*
COL-SM-6 (2 blocks in a row)
*/
.col-sm-6 .blog1 {
  max-height: 165px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .col-sm-6 .blog1 {
    max-height: 125px;
  }
}

@media (max-width: 990px) {
  .col-sm-6 .blog1 {
    max-height: 160px;
  }
}

@media (max-width: 768px) {
  .col-sm-6 .blog1 {
    max-height: 250px;
  }
}

.blog1 h2 {
  font-size: 24px;
  margin-top:0;
  margin-bottom:8px;
}
.blog1 h3 {
  font-size: 22px;
  margin-top:0;
  margin-bottom:12px;
}

.col-sm-6 .blog1 h2 {
  font-size: 20px;
  margin-top:0;
  margin-bottom:8px;
}

.col-sm-6 .blog1 h3 {
  font-size: 18px;
  margin-top:0;
  margin-bottom:8px;
}

@media (max-width: 990px) {
  .col-sm-6 .blog1 h3 {
    margin-top:16px;
  }
}

.text-right-to-left {
  text-align: right;
}

@media (max-width: 990px) {
  .text-right-to-left {
    text-align: left;
  }

  .blog1 h3 {
    font-size: 22px;
    margin-top:18px;
    margin-bottom:12px;
  }
}

/*
COL-SM-4 (3 blocks in a row)
*/

.col-sm-4 .blog1 {
  max-height: 165px;
  overflow: hidden;
}

@media (max-width: 4000px) {
  .col-sm-4 .blog1 {
    max-height: 160px;
  }
  .col-sm-4 .blog1 h2 {
    font-size:18px;
  }
  .col-sm-4 .blog1 h3 {
    margin-top:16px;
    font-size: 16px;
  }
}
