body {
  padding-top: 50px;
}
h1 {
  color: #009900;
  font-family: Tahoma, sans-serif;
}
p {
  color: #000;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #8e44ad;
}
/** LOGO **/
.slider-full {
  margin: 0 auto;
  padding-top: 0px;
  background: #eee;
  max-height: 350px;
  overflow: hidden;
  border-top: 1px solid #8e44ad;
  border-bottom: 1px solid #8e44ad;
}
/** CONTENT **/
.left-sidebar {
  border-left: 1px solid #eee;
  padding-left: 40px;
}
.sidebar2 {
  padding: 10px 26px;
  margin-bottom: 20px;
}
/** helper classes **/
.pad50t50b {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pad25b {
  padding-bottom: 25px;
}
/**
* navbar
https://work.smarchal.com/twbscolor/css/9b59b68e44adecf0f1ecdbff0
*/
.navbar-default {
  background-color: #ddd;
  border-color: #8e44ad;
}
.navbar-default .navbar-brand {
  color: #eee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #eee;
}
.navbar-default .navbar-nav > li > a {
  font-size: 18px;
  color: #eee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle {
  border-color: #8e44ad;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #eee;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #eee;
}
.navbar-default .navbar-link {
  color: #eee;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8e44ad;
  }
}
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
.widget-base {
  background-color: #8e44ad;
  color: #eee;
}
.widget-base h3 {
  color: #eee;
}
.widget-secondary {
  background-color: #eee;
  color: #8e44ad;
}
.widget-secondary h3 {
  color: #8e44ad;
}
