body {
  padding-top: 50px;
}
h1 {
  color: #009900;
  font-family: Tahoma, sans-serif;
}
p {
  color: #000;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5460a7;
}
/** LOGO **/
.slider-full {
  margin: 0 auto;
  padding-top: 0px;
  background: #eee;
  max-height: 350px;
  overflow: hidden;
  border-top: 1px solid #5460a7;
  border-bottom: 1px solid #5460a7;
}
/** CONTENT **/
/** helper classes **/
.pad50t50b {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pad25b {
  padding-bottom: 25px;
}
.margin25b {
  margin-bottom: 25px;
}
/**
* navbar
https://work.smarchal.com/twbscolor/css/9b59b68e44adecf0f1ecdbff0
*/
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
#sidebar-nav ul li {
  list-style: none;
  border: 2px solid #eee;
  border-radius: 2px;
}
#sidebar-nav ul li a {
  padding: 10px;
  font-size: 16px;
}
.card-1 {
  background-color: #5460a7;
  color: #eee;
  margin-bottom: 25px;
  padding: 5px 20px;
}
.card-1 h3 {
  color: #ADB4DF;
}
.card-1 p {
  color: #fff;
}
.card-2 {
  background-color: #eee;
  color: #5460a7;
  margin-bottom: 25px;
  padding: 5px 20px;
}
.card-2 h3 {
  color: #5460a7;
}
#card-collapsable-items ul {
  padding: 0px;
}
#card-collapsable-items ul li {
  list-style: none;
  border: 2px solid #eee;
  border-radius: 2px;
  padding-top: 8px;
}
#card-collapsable-items ul li a {
  padding: 10px;
  font-size: 16px;
}
