@buttonBackground: #006699;
@buttonColor: #FFF;
@buttonPadding: 5px;



.button {
	background: @buttonBackground;
	color: @buttonColor;
	padding: @buttonPadding;
	display: inline-block;
}


.jumbo-button {
	.button; /* mixin */
	padding: @buttonPadding + 30; /* operations: adds 30px to 5px padding. */
}


.light-button { 
	.button; /* mixin */
	background: @buttonBackground * 1.6; /* operations: brings us closer ot white. */
}