
/*condition*/
#welcome-banner {
	/* Generic screen devices */
	font-size: 32px;
	background: lightgreen;
	
	/* Only on small screen devices*/
	@media screen {
		@media (max-width: 768px) {
			font-size: 18px;
			background: lightsteelblue;
		}
	}
}


