@main-color: #fff;
@main-text-color: #000;

@secondary-color: #ddd;
@secondary-text-color: #444;


@widget-base-color: #8e44ad;
@widget-sec-color: #9b59b6;
@widget-accent-color: #ecdbff;
@widget-text-color: #eee;
@widget-select-text-color: #fff;