@main-color: #fff;
@main-text-color: #000;

@secondary-color: #ddd;
@secondary-text-color: #444;

// Purple theme
//@widget-base-color: #8e44ad;
//@widget-sec-color: #9b59b6;
//@widget-accent-color: #ecdbff;

// Blue Theme
@widget-base-color: #5460a7; //main color
@widget-sec-color: #3546a7;  // darker shade of main color
@widget-third-color: #1b2fa0;
@widget-accent-color: #eabb3d;  // dichromatic color
@widget-accent-sec-color: #e6a905; // darker shade of dichromatic color


@widget-text-color: #eee;
@widget-select-text-color: #fff; 