





nav.navbar.navbar-default.widget-base {
    background-color: @widget-base-color;
    
    .collapse.navbar-collapse > ul.nav.navbar-nav > li > a{    
//        background-color: @widget-base-color;
        color: @widget-text-color;
    }
    
    .collapse.navbar-collapse > ul.nav.navbar-nav > li > a:hover {
        background-color: @widget-third-color;
        color: @widget-accent-color;
    }
    
    .collapse.navbar-collapse > ul.nav.navbar-nav > li.active > a {
        background-color: @widget-sec-color;
    }
}