.widget-base {
	background-color: @widget-base-color;
	color: @widget-text-color;	
	h3 {
		color: @widget-text-color;
	}
}


.widget-secondary {
	background-color: @widget-text-color;
	color: @widget-base-color;	
	h3 {
		color: @widget-base-color;
	}
}